html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: wheat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  height: 200px;
  width: 200px;
}
h2{
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 10px;
}
.box{
  padding: 10px;
}
input{
  
  padding: 4px;
  margin: 10px;
}
button{
  margin: 10px;
  background-color: blueviolet;
}